body {
	width: 400px;
	height: 300px;
	font-family: 'Verdana', sans-serif;
	background-color: #eae5d7;
}

#checkbox {
	cursor: pointer;
}

#fact_check_button,
#summarize_button {
	font-family: 'Verdana', sans-serif;
	font-size: 12px;
	background-color: #82d682;
	border: 1px solid #000000;
	border-radius: 16px;
	cursor: pointer;
}

#fact_check_button:active,
#summarize_button:active {
	background-color: #63c259;
}

#chatgpt_response_title {
	font-weight: bold;
	text-align: center;
}

#chatgpt_response {
    text-align: center;
}
